body {
    background-color: #f5f5dd;
}

#suqare1, #square2, #square3, #square4 {
    
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#square1 {
    background-color:rgba(0, 0, 0, 1);
}

#square2 {
    background-color:rgba(0, 0, 0, 0.7);
}

#square3 {
    background-color:rgba(0, 0, 0, 0.5);

}

#square4 {
    background-color:rgba(0, 0, 0, 0.3);
}
